<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Bootstrap Accordeon Angular Example</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="exampleApp">
	<div ng-controller="myCtrl">
	    <div class='panel-group' id='accordion' role='tablist' aria-multiselectable='true'  ng-repeat="s in sections">
			<div class="panel panel-default">
				<div class='panel-heading' role='tab' id='heading_{{ s.id }}'>
					<h4 class='panel-title'><a role='button' data-toggle='collapse' data-parent='#accordion' href='#collapse_{{ s.id }}' aria-expanded='true' aria-controls='collapse_{{ s.id }}'> {{ s.title }} </a></h4>
				</div>
				<div id='collapse_{{ s.id }}' class="panel-collapse collapse in" role='tabpanel' aria-labelledby='heading_{{ s.id }}'>
					<div class='panel-body'>
		            	{{ s.description }}
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>

    <script>
    var app = angular.module("exampleApp", []);
    app.controller("myCtrl", function($scope) {
        $scope.sections = [{
                    "id": 1,
                    "title": "Berglunds snabbköp",
                    "description": "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus similique delectus tenetur deserunt, architecto, quod sunt nobis reprehenderit id quasi, dicta molestiae optio quibusdam quo saepe perferendis? Itaque voluptatem, vero."
                },
                {
                	"id": 2,
                	"title": "Centro comercial Moctezuma",
                	"description": "Consectetur adipisicing elit. Facilis voluptatibus ex incidunt nostrum, voluptates libero vel similique rem dolores, sit, quo, aut tempora dolor blanditiis dicta accusantium autem hic quae!"
                },
                {
                	"id":3,
                	"title": "Ernst Handel",
                	"description": "Ipsum dolores repellendus, architecto blanditiis harum quidem cupiditate dolor maiores rerum dicta quae, quia illum inventore, explicabo officiis culpa qui error placeat! Lorem ipsum dolor sit amet, consectetur adipisicing elit."
                }]
    });
                    
                    
    </script>
  </body>
</html>